---
import type { ImageMetadata } from 'astro';
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";


// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"post">[];

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes.sort(collectionDateSort).slice(0, MAX_NOTES);

// Projects
import ProjectCard from '../components/ProjectCard.astro';


// My images
import michigan from "../assets/michiganlogo.jpeg"
import ethereum from "../assets/ethereumlogo.jpeg"
import mercari from "../assets/mercarilogo.jpeg"
import smbcnikko from "../assets/smbcnikkologo.jpeg"
import symbioticlab from "../assets/symbioticlab.png"
import prismfm from "../assets/prismfmlogo.jpeg"
import procegence from "../assets/procegencelogo.jpeg"

const allPostsById = allPosts.reduce((acc, post) => {
  acc[post.id] = post;
  return acc;
}, {} as Record<string, typeof posts[number]>);
---

<PageLayout meta={{ title: "Home" }}>
  <!-- INTRO-->
	<section>
		<p class="mb-4 text-[20px]">
    Hi, my name is Wonbin. I am currently a student at the University of Michigan studying computer science.
    My main interest is in systems development.
		</p>
		<SocialList />
	</section>

  <!-- EDUCATION -->
  <section class="mt-16">
		<h2 class="title text-accent mb-6 text-[30px]">Education</h2>
    <div class="space-y-6 text-white-700 text-[20px]">
      <div>
        <div class="flex items-start space-x-4">
          <Image
            src={michigan}
            alt="Michigan"
            width={80}
            height={80}
            class="rounded-full"
          />
          <div>
            <h3 class="font-semibold">MS, Computer Science and Engineering</h3>
            <p>University of Michigan Ann Arbor</p>
            <p class="text-gray-400 text-sm">August 2025 – December 2026</p>
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-start space-x-4">
          <Image
            src={michigan}
            alt="Michigan"
            width={80}
            height={80}
            class="rounded-full"
          />
          <div>
            <h3 class="font-semibold">BS, Computer Science and Engineering</h3>
            <p>University of Michigan Ann Arbor</p>
            <p class="text-gray-400 text-sm">August 2022 – April 2025</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- EXPERIENCE -->
  <section class="mt-16">
		<h2 class="title text-accent mb-6 text-[30px]">Experience</h2>
		<h6 class="title text-white-700 mb-6 text-[15px]">Click the icons!</h6>
    <div class="space-y-8">
    <!-- Ethereum Foundation -->
    <div class="space-y-8 text-white-700 text-[25px]">
      <a href="/posts/ethereum">
      <div>
          <div class="flex items-start space-x-4">
            <Image
              src={ethereum}
              alt="Ethereum Foundation logo"
              width={80}
              height={80}
							class="rounded-full"
            />
            <div>
              <h3 class="font-semibold">Ethereum Foundation</h3>
              <p class="italic text-[15px]">Software Engineer Intern</p>
              <p class="text-gray-400 text-sm">June 2025 – August 2025</p>
            </div>
          </div>
      </div>
      </a>
    </div>

    <!-- Mercari Foundation -->
    <div class="space-y-8 text-white-700 text-[25px]">
      <a href="/posts/mercari">
      <div>
          <div class="flex items-start space-x-4">
            <Image
              src={mercari}
              alt="Mercari logo"
              width={80}
              height={80}
							class="rounded-full"
            />
            <div>
              <h3 class="font-semibold">Mercari</h3>
              <p class="italic text-[15px]">Software Engineer Intern</p>
              <p class="text-gray-400 text-sm">June 2025 – August 2025</p>
            </div>
          </div>
      </div>
    </div>

    <!-- SMBC Nikko Securities -->
    <div class="space-y-8 text-white-700 text-[25px]">
      <a href="/posts/smbc">
      <div>
          <div class="flex items-start space-x-4">
            <Image
              src={smbcnikko}
              alt="SMBC Nikko Securities logo"
              width={80}
              height={80}
							class="rounded-full"
            />
            <div>
              <h3 class="font-semibold">SMBC Nikko Securities</h3>
              <p class="italic text-[15px]">Software Engineer Intern</p>
              <p class="text-gray-400 text-sm">April 2025 – June 2025</p>
            </div>
          </div>
      </div>
      </a>
    </div>

    <!-- Symbiotic lab -->
    <div class="space-y-8 text-white-700 text-[25px]">
      <a href="/posts/zeus">
      <div>
          <div class="flex items-start space-x-4">
            <Image
              src={symbioticlab}
              alt="Symbiotic Lab logo"
              width={80}
              height={80}
							class="rounded-full"
            />
            <div>
              <h3 class="font-semibold">Symbiotic Lab</h3>
              <p class="italic text-[15px]">Research Intern</p>
              <p class="text-gray-400 text-sm">Mar 2024 – Present</p>
            </div>
          </div>
      </div>
      </a>
    </div>

    <!-- Prism.fm -->
    <div class="space-y-8 text-white-700 text-[25px]">
      <a href="/posts/prismfm">
      <div>
          <div class="flex items-start space-x-4">
            <Image
              src={prismfm}
              alt="Prism.fm logo"
              width={80}
              height={80}
							class="rounded-full"
            />
            <div>
              <h3 class="font-semibold">Prism.fm</h3>
              <p class="italic text-[15px]">Software Engineer Intern</p>
              <p class="text-gray-400 text-[15px]">May 2024 – August 2024</p>
            </div>
          </div>
      </div>
      </a>
    </div>

    <!-- Procegence -->
    <div class="space-y-8 text-white-700 text-[25px]">
      <div>
          <div class="flex items-start space-x-4">
            <Image
              src={procegence}
              alt="Procegence logo"
              width={80}
              height={80}
							class="rounded-full"
            />
            <div>
              <h3 class="font-semibold">Procegence</h3>
              <p class="italic text-[15px]">Software Engineer Intern</p>
              <p class="text-gray-400 text-[15px]">May 2023 – August 2023</p>
            </div>
          </div>
      </div>
    </div>

    </div>
  </section>

	<section class="mt-16">
		<h2 class="title text-accent mb-6 text-[30px]"><a href="/posts/">Projects</a></h2>
		<ul class="space-y-6" role="list">
      {
      <ProjectCard post={allPostsById.itrace} url="/posts/itrace/"/>
      <ProjectCard post={allPostsById.learningcpp} url="/posts/learningcpp/"/>
      <ProjectCard post={allPostsById.bingtea} url="/posts/bingtea/"/ image="/bingtealogo.png"/>
      <ProjectCard post={allPostsById.zeus} url="/posts/zeus/" image="/zeuslogo.png"/>
      <ProjectCard post={allPostsById.dsprojects} url="/posts/dsprojects/"/>
      <ProjectCard post={allPostsById.networkprojects} url="/posts/networkprojects/"/>
      <ProjectCard post={allPostsById.osprojects} url="/posts/osprojects/"/>
      <ProjectCard post={allPostsById.sync} url="/posts/sync/"/>
      <ProjectCard post={allPostsById.nvimconfig} url="/posts/nvimconfig/" image="/nvim.png"/>
      }
		</ul>
	</section>
	<!-- { -->
	<!-- 	latestNotes.length > 0 && ( -->
	<!-- 		<section class="mt-16"> -->
	<!-- 			<h2 class="title text-accent mb-6 text-xl"> -->
	<!-- 				<a href="/notes/">Notes</a> -->
	<!-- 			</h2> -->
	<!-- 			<ul class="space-y-6" role="list"> -->
	<!-- 				{latestNotes.map((note) => ( -->
	<!-- 					<li> -->
	<!-- 						<Note note={note} as="h3" isPreview /> -->
	<!-- 					</li> -->
	<!-- 				))} -->
	<!-- 			</ul> -->
	<!-- 		</section> -->
	<!-- 	) -->
	<!-- } -->
</PageLayout>
